* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;     
    float: left;
    padding: 0px 350px;
    width: 100%;
    height: 964px;
    /* background-image: url(/img/); */
    background-color:#e94a7f;
    border-bottom: 3px solid rgb(236, 167, 40);
}

.logo {
    float: left;
    margin-top: 25px;
    margin-left: 0px;
}

.homebtn {
    float: right;
    margin-top: 20px;
    margin-right: 7px;
}

.happy {
    float: left;
    margin-top: 110px;
    margin-left: 140px;
}

.cook1 {
    position: absolute;
    top: 160px;
    left: 270px;
}

.cook2 {
    position: absolute;
    top: 205px;
    right: 360px;
    z-index: 4;
}

.cook3 {
    position: absolute;
    bottom: 45px;
    left: 220px;
    z-index: 5;
}

.cook4 {
    position: absolute;
    bottom: 45px;
    right: 250px;
}

video {
    z-index: 3;
}

.kingdoum {
    position: absolute;
    bottom: 40px;
    left: 770px;
}
.event {
    overflow: hidden;
    position: relative;
    float: left;
    /* padding: 0px 350px; */
    width: 100%;
    height: 2317px;
    background-color: rgb(28, 116, 97);
}

.bodybox {
    position: relative;
    width: 1000px;
    height: 1672px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 457px;
    /* border-radius: 3px dotted orange; */
    /* border-inline-color:  3px dotted rgb(250, 192, 34); */
    /* ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ아 도저히 혼자 못해먹겠네 ;;; 안에 테두리 어케 넣냐며; */
}

.icon {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.tab {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    }

.bodybox >  
.eventit, sub1, sub2, mainimg, tit2, prize, eventest, notice {
    float: left;
    top: 10px;
}

.eventit {
    position: absolute;
    margin-top: 57px;
    margin-left: 170px;
}

.sub1 {
    margin-top: 23px;
    margin-left:100px;
    margin-bottom: 17px;
}

.sub2 {
    margin-left:180px;
    margin-bottom: 23px;
}

.mainimg {  
    float: left;
    right:100px;
}

.tit2 {
    margin-top: 48px;
    margin-left:105px;
    margin-bottom: 17px;
}

.prize{
    position: relative;
    right: 30px;
}

.eventest{
    position: relative;
    left: 115px;
    bottom: 75px;
}

.notice{

}



.footer {
    clear: both;
    float: left;
    width: 100%;
    height: 210px;
    background-color: dimgrey;
}