* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    float: left;
    padding: 0px 350px;
    width: 100%;
    height: 964px;
    /* background-image: url(/img/); */
    background-color:#e94a7f;
    border-bottom: 3px solid rgb(236, 167, 40);
}

.logo {
    float: left;
    margin-top: 25px;
    margin-left: 0px;
}

.homebtn {
    float: right;
    margin-top: 20px;
    margin-right: 7px;
}

.happy {
    float: left;
    margin-top: 110px;
    margin-left: 140px;
}

.cook1 {
    position: absolute;
    top: 160px;
    left: 270px;
}

.cook2 {
    position: absolute;
    top: 205px;
    right: 360px;
    z-index: 4;
}

.cook3 {
    position: absolute;
    bottom: 45px;
    left: 220px;
    z-index: 5;
}

.cook4 {
    position: absolute;
    bottom: 45px;
    right: 250px;
}

video {
    z-index: 3;
}

.kingdoum {
    position: absolute;
    bottom: 40px;
    left: 770px;
}
.event {
    position: relative;
    float: left;
    /* padding: 0px 350px; */
    width: 100%;
    height: 2317px;
    background-color: rgb(28, 116, 97);
}

.icon {
    position: absolute;
    top: 60px;
    left: 840px;
}
.tab {
    display: flex;
    justify-content: center;
    padding-top: 270px;
}
/* .tab1 {
    position: absolute;
    left: 300px;
} */

.footer {
    clear: both;
    width: 100%;
    height: 210px;
    background-color: dimgrey;
}
